body, div, p, ul, ol, li, dl, dt, dd, table, th, td, img, figure, h1, h2, h3, h4, h5, h6, form, select {
  margin: 0;
  padding: 0;
}
body {
  color: #000;
  font-family: "游ゴシック",YuGothic,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,"ＭＳ Ｐゴシック","MS PGothic",sans-serif;
  font-size: 14px;
  font-weight: 500;
}
a {
  text-decoration: none;
  color: #000;
}
li {
  list-style: none;
}
header {
  width: 100%;
  padding: 20px 0;
}
.header-container {
  height: 40px;
  display: flex;
  justify-content: space-between;
  margin: 0 36px;
}
.header-container ul {
  display: flex;
  align-items: center;
}
.header-left img {
  height: 20px;
}
.header-right {
  text-align: center;
}
.header-right li {
  font-weight: 700;
}
.header-right-list-item {
  margin-right: 45px;
}
.header-right-list-item:last-of-type {
  margin-right: 0;
}
.header-right-english {
  font-family: 'Lato',sans-serif;
  font-size: 14px;
}
.header-right-japanese {
  font-size: 10px;
}
.header-right-btn {
  background-color: #f79214;
  border-radius: 38px;
  color: white;
  line-height: 40px;
  display: block;
  padding: 0 20px;
  font-size: 12px;
}


.header-right-list-item span:first-child {
    font-family: 'Lato',sans-serif;
}
.header-right-list-item span:last-child {
    font-size: 10px;
}
.header-right-list-item span {
    display: block;
    font-weight: 700;
    text-align: center;
}